/**************************/
/*  Footer section */
/**************************/

.footer--section {
  padding: 1.6rem;
  background-color: rgb(48, 48, 48);
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer--icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.social--icons {
  height: 3.6rem;
  width: 3.6rem;
  margin-bottom: 1.2rem;
}

.footer--copyright {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(220, 214, 214);
  margin-top: auto;
}
